<footer>
  <div class="container">
    <p>© 2013 - 2015 <a href="http://www.139life.com" target="_blank">苏州移动139生活网</a></p>
    <p>Powered by <a href="http://www.xwtech.com/">南京欣网视讯网络科技有限公司</a></p>
  </div>
</footer>

<script src="/dashboard/static/jquery/dist/jquery.min.js"></script>
<script src="/dashboard/static/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>